# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать кеши и временные файлы
*.log
*.tmp

# Игнорировать папки настроек IDE
.idea/
.vscode/
